footer {
    display: flex;
    width: 560px;
    padding-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    border-top: 1px solid var(--input-stroke);
}

#checkbox-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.checkbox-item {
    position: relative;
    display: flex;
    padding: 4px 0px;
    align-items: center;
    gap: 12px;
}

.checkbox-item #checkbox-svg {
    background-image: url(../../assets/icons/square.svg);
    display: flex;
    width: 20px;
    height: 20px;
    padding: 2px;
    justify-content: center;
    align-items: center;
}

.checkbox-item:has(input[type='checkbox']:checked) #checkbox-svg {
    background-image: url(../../assets/icons/square-checked.svg);
}

#button-container {
    display: flex;
    width: 560px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;

    & > button {
        display: flex;
        height: 48px;
        padding: 4px 20px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 8px;
        background: var(--dark-blue);
        border: none;
        cursor: pointer;

        & > label {
            color: var(--text-heading);
            font-weight: 600;
        }
    }
}
