#invite {
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 12px;
    background: var(--shape-body);
    overflow: auto;

    & > h2 {
        width: 35rem;
        color: var(--text-heading);
        font: var(--heading-md);
    }

    & > #form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35rem;
        gap: 48px;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

input[type='radio'] {
    cursor: pointer !important;
}

.invite-form {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px 16px;
    align-self: stretch;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    width: 560px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;

    & > h3 {
        color: var(--text-heading);
        font: var(--heading-sm);
    }
}

.flex {
    display: flex;
    max-width: 100%;
    gap: 16px 16px;
}

.flex-1 {
    flex: 1;
}

label {
    color: var(--text-body);
    font: var(--body-sm);
}

input, textarea {
    color: var(--text-heading, #f9f9f9);
    font: var(--body-md);
    font-weight: 400;
}

input::placeholder,
textarea::placeholder {
    color: var(--input-placeholder);
    font: var(--body-md);
}

input[type='radio'],
input[type='radio']:focus,
input[type='radio']:hover {
    all: unset;
    position: absolute;
    inset: 0;
}

input[type='file'] {
    all: unset;
    position: absolute;
    opacity: 0;
    inset: 0;
    cursor: pointer;
}

input[type='checkbox'] {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
}

strong {
    color: var(--light-blue);
    font-weight: 600;
    text-decoration-line: underline;
}

input[type='text']:focus,
textarea:focus {
    outline: 1px solid var(--light-blue);
}

.error {
    outline: 1px solid var(--red);
}

.error-message {
    color: var(--red);
    font: var(--body-xs);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    display: none;
}

.error-message svg {
    width: 16px;
    height: 16px;
}
