* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-light: #59b2ff;
    --brand-mid: #3487cf;
    --brand-dark: #1d6fb6;

    --purple: #b259ff;
    --fuschia: #ff59f9;
    --pink: #ff598b;
    --orange: #ff8b59;
    --yellow: #ffcd59;
    --lime: #e1ff59;
    --green: #59ff91;
    --cyan: #59fff9;
    --navy: #6a59ff;

    --danger: #ff5959;

    --input-base: #1c1f21;
    --input-stroke: #363b40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2d3136;
    --shape-hover: #383d42;

    --text-body: #c8cdd0;
    --text-heading: #f9f9f9;

    --open-sans: 'Open Sans', sans-serif;
    --baloo-2: 'Baloo 2', sans-serif;
    --leckerli-one: 'Leckerli One', cursive;

    --logo: 400 2.5rem var(--leckerli-one);

    --heading-md: 700 1.75rem var(--baloo-2);
    --heading-sm: 700 1.125rem var(--baloo-2);

    --body-md: 500 1rem var(--open-sans);
    --body-sm: 500 0.875rem var(--open-sans);
    --body-xs: 500 0.75rem var(--open-sans);
}

body {
    display: inline-flex;
    padding: 20px 20px 0px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-radius: 20px;
    background: #131516;
}
